.addButton,
.removeButton {
    width: 12vw;
    position: relative;
    padding: 20px 10px !important;
    color: var(--white-text) !important;
}

.addButton.disabled,
.removeButton.disabled {
    background-color: var(--lightest-text);
    cursor: default;
}

.primary_btn, .primary_btn_small, .primary_btn_extra_small {
    padding: 12px 4px !important;
    color: var(--white-text) !important;
    background-color: var(--primary);
}

.primary_btn {
    width: 12vw;
}

.primary_btn:disabled, .primary_btn_small:disabled, .primary_btn_extra_small:disabled {
    background-color: var(--primary-200) !important;
    pointer-events: none;
}

.primary_btn_small {
    width: 8vw;
}

.primary_btn_extra_small {
    width: 5vw;
}

.btnIcon {
    position: absolute;
    width: 20px;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.btnIcon path {
    color: var(--white-text);
}