* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    color: black;
    box-sizing: border-box;
    max-width: 100%;
}

:root {
    --text: #090E10;
    --background: #F9FBFC;
    --primary: #13a4dd;
    --secondary: #9aa4d1;
    --accent: #7375bf;

    --text-50: #eff4f6;
    --text-100: #dee9ed;
    --text-200: #bed2da;
    --text-300: #9dbcc8;
    --text-400: #7ca5b6;
    --text-500: #5c8fa3;
    --text-600: #497283;
    --text-700: #375662;
    --text-800: #253941;
    --text-900: #121d21;
    --text-950: #090e10;

    --background-50: #eef4f6;
    --background-100: #dde8ee;
    --background-200: #bbd2dd;
    --background-300: #99bbcc;
    --background-400: #77a4bb;
    --background-500: #558eaa;
    --background-600: #447188;
    --background-700: #335566;
    --background-800: #223944;
    --background-900: #111c22;
    --background-950: #090e11;

    --primary-50: #e8f7fd;
    --primary-100: #d0effb;
    --primary-200: #a1dff7;
    --primary-300: #72cef3;
    --primary-400: #43beef;
    --primary-500: #14aeeb;
    --primary-600: #108bbc;
    --primary-700: #0c688d;
    --primary-800: #08465e;
    --primary-900: #04232f;
    --primary-950: #021117;

    --secondary-50: #eeeff7;
    --secondary-100: #dce0ef;
    --secondary-200: #b9c0df;
    --secondary-300: #96a1cf;
    --secondary-400: #7381bf;
    --secondary-500: #5062af;
    --secondary-600: #404e8c;
    --secondary-700: #303b69;
    --secondary-800: #202746;
    --secondary-900: #101423;
    --secondary-950: #080a11;

    --accent-50: #eeeef7;
    --accent-100: #dcddef;
    --accent-200: #b9badf;
    --accent-300: #9698cf;
    --accent-400: #7376bf;
    --accent-500: #5053af;
    --accent-600: #40438c;
    --accent-700: #303269;
    --accent-800: #202146;
    --accent-900: #101123;
    --accent-950: #080811;


}

.submit_button {
    width: 100%;
    color: white;
    background-color: green !important;
}

.dialog_box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    background-color: #ffffff;
    border-radius: 20px;
    width: 20vw;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    z-index: 99;
    border: 1px solid black;
}

.dialog_message {
    color: rgb(0, 0, 0);
    font-weight: 100;
}

.dialog_confirmation {
    background-color: green !important;
    color: white !important;
}

.home {
    background-color: #FFFFFF;
    /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='200' height='200' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23B0A2ED' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%2300C4BC'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E"); */
    display: flex;
    height: 92vh;
    width: 85vw;
    max-width: 85%;
    flex-direction: column;
}

.exercise_top_bar {
    margin-top: 2vh;
    margin-left: 15px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    padding-bottom: 2vh;
    gap: 1vw;
    height: 6vh;
}

.exercise_top_bar span {
    color: var(--primary-600);
    font-size: 1.3rem;
}

.backBtn {
    cursor: pointer;
    background-color: var(--primary-200);
    padding: 2px 10px 5px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    margin-right: 15px;
}

button {
    position: relative;
}

.btnIcon {
    position: absolute;
    width: 20px;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.exercise_list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px;
    height: 80vh;
    justify-content: center;
}

.pagination {
    margin-top: 30px;
}

.exercise_type_tabs_box {
    width: 15vw;
    height: 75vh;
    padding: 2vh 3vw;
    margin-right: 2vw;
    background-color: var(--background-100);
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.exercise_type_tabs {
    margin-top: 2vh;
}

.exercise_type_tabs:first-of-type {
    margin-top: 4vh;
}

.exercise_tab_header {
    position: relative;
}

.exercise_tab_header::after {
    content: '';
    width: 150%;
    height: 1px;
    background-color: black;
    position: absolute;
    left: -25%;
    bottom: -50%;
}

.tab_container {
    display: flex;
    flex-direction: column;
}

.exercise_type_tabs {
    background-color: transparent;
    width: 15vw;
    color: var(--accent-700);
    transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
}

.active_exercise_tab {
    background-color: var(--accent-300) !important;
    width: 15vw;
    padding: 1.2vh 1vw;
    color: var(--text-50);
    border-radius: 10px;
    border-bottom: 1px solid var(--accent);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.exercise_type_tabs:hover, .exercise_type_tabs:focus-within, .exercise_type_tabs:focus-visible {
    outline: none;
    border: none;
    background-color: var(--accent-300);
    color: var(--text-50);
    border-radius: 10px;
    border-bottom: 1px solid var(--accent);
    width: 15vw;
    padding: 1.2vh 1vw;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.App {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    width: 100vw;
    position: relative;
}

.app_bottom {
    display: flex;
    width: 100vw;
    max-width: 100%;
}

.top_bar {
    width: 100vw;
    max-width: 100%;
    height: 6vh;
    background-color: var(--background);
    padding: 1vh 2vw;
    border-bottom: 1px solid black;
}

.nav {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 15vw;
    max-width: 15%;
    background-color: var(--background);
}

.nav_links:first-of-type {
    margin-top: 2vh;
}

.nav_links {
    font-size: 1.2rem;
    background-color: var(--primary-700);
    color: var(--text-100);
    padding: 10px 20px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.academic_track_box {}

.selectBtn {
    background-color: var(--accent-100);
    color: var(--accent-800);
    width: 20vw;
    margin-left: 16px;
    margin-top: 20px;
    height: 8vh;
    text-align: left;
}

.addQuestionBtn {
    margin-left: auto;
    margin-right: 20px;
    background-color: var(--secondary-800);
}

.question_models_box {
    display: flex;
    flex-direction: column;
}

.question_model_card {
    display: flex;
    align-items: center;
    width: 70%;
    margin: 0 auto;
    gap: 5vw;
    text-align: left;
    border-bottom: 1px solid black;
    padding-bottom: 1vh;
    margin-top: 1vh;
}

.question_model_card span, .question_model_card h2 {
    width: 10vw;
}

.question_model_card span:first-of-type, .question_model_card h2:first-of-type {
    width: 2vw;
}

.question_select_btn {
    background-color: var(--primary-700);
    width: 10vw;
    margin-left: auto;
    margin-right: auto;
}

#prompt_input {
    width: 18vw;
    text-align: left;
    padding: 1vh 1vw;
    height: 5vh;
    border: 1px solid black;
}